#ex6_rectangle1{
    width: 330px;
    height: 330px;
    padding: 30px;
    position: static;
}

#ex6_rectangle2{
    z-index: 2;
}

#ex6_rectangle3{
    left: 20px;
    bottom: 130px;
    z-index: 2;
}

#ex6_rectangle4{
    background-color: yellow;
    left: 180px;
    bottom: 120px;
}

#ex6_rectangle5{
    left: 150px;
    bottom: 300px;
    z-index: 1;
}

.square {
    width: 150px;
    height: 150px;
    position: relative;
}